---
import Section from "@/components/Section.astro";

import { basics } from "@cv";

const { summary } = basics;
---

<Section title="Sobre mi">
  <p>{summary}</p>
</Section>

<style>
  p {
    padding-top: 0.5rem;
    padding-inline: 0.5rem;
  }

  @media (max-width: 430px) {
    p {
      padding-inline: 0;
    }
  }
</style>
