---
import Section from "@/components/Section.astro";
import { languages } from "@cv";
---

{
  languages.length ? (
    <Section title="Idiomas">
      <ul class="section__list">
        {languages.map(({ language, fluency }) => {
          return (
            <li class="list__element">
              <article class="element__card">
                <h3 class="card__title">{language}</h3>
                <h4 class="card__nivel">{fluency}</h4>
              </article>
            </li>
          );
        })}
      </ul>
    </Section>
  ) : (
    []
  )
}

<style>
  .section__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
    justify-content: center;
  }

  .list__element {
    border: var(--borderCard);
    border-radius: 5px;
    padding: 0.7rem;
    height: 100%;
    box-shadow: 0 1px 1px #f2f2f2;
  }

  .element__card {
    gap: 0.15rem;
  }

  .card__title:hover {
    color: var(--colorTitleElement);
    text-decoration: none;
  }

  .card__nivel {
    color: #555;
    font-weight: 900;
    border: none;
    font-size: 1rem;
  }

  @media (max-width: 645px) {
    .section__list {
      padding-inline: 0;
    }
  }
</style>
