---
import Section from "@/components/Section.astro";

import { skills } from "@cv";

import { SKILLS_ICONS } from "@/records.astro";
import { validateHighlight } from "@/services/validateHighliht";
---

{
  skills.length ? (
    <Section title="Habilidades">
      <ul class="section__list">
        {skills.map((name) => {
          const iconName = validateHighlight(name);
          let IconFinal;
          const Icon =
            SKILLS_ICONS[iconName] !== undefined
              ? (IconFinal = SKILLS_ICONS[iconName])
              : (IconFinal = SKILLS_ICONS["Generic"]);

          return (
            <li class="list__element">
              <span class="footer__list__element">
                {IconFinal && <Icon />}
                {name}
              </span>
            </li>
          );
        })}
      </ul>
    </Section>
  ) : null
}

<style>
  .section__list {
    flex-direction: row;
    gap: 1rem;
  }

  .list__element {
    border: var(--borderSkill);
    border-radius: var(--borderRadius);
    background-color: var(--bgBody);
    padding: 0.1rem 0.5rem;
    height: 30px;
    display: flex;
  }

  .footer__list__element {
    color: var(--colorSkill);
    font-weight: var(--weightSkill);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    line-height: normal;
  }

  @media print {
    .section__list {
      margin-top: 1rem;
    }
  }
</style>
