---
import Section from "@/components/Section.astro";

import { skills } from "@cv";

import { SKILLS_ICONS } from "@/records.astro";
import { validateHighlight } from "@/services/validateHighliht";
---

{
  skills.length ? (
    <Section title="Habilidades">
      <ul>
        {skills.map(({ name }) => {
          const iconName = validateHighlight(name);

          let IconFinal;
          const Icon =
            SKILLS_ICONS[iconName] !== undefined
              ? (IconFinal = SKILLS_ICONS[iconName])
              : (IconFinal = SKILLS_ICONS["Generic"]);

          return (
            <li>
              <span>
                {IconFinal && <Icon />}
                {name}
              </span>
            </li>
          );
        })}
      </ul>
    </Section>
  ) : null
}

<style>
  ul {
    flex-direction: row;
    gap: 1rem;
  }

  li {
    border: 1px solid #888;
    border-radius: 5px;
    padding: 0.1rem 0.5rem;
    height: 28.38px;
    display: flex;
  }

  span {
    color: var(--colorSkill);
    font-weight: var(--weightSkill);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    line-height: normal;
  }

  @media print {
    ul {
      margin-top: 1rem;
    }
  }
</style>
