---
import Hero from "@/components/sections/Hero.astro";
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Layout from "../layouts/Layout.astro";
import Education from "@/components/sections/Education.astro";
import Certificate from "@/components/sections/Certificate.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Languages from "@/components/sections/Languages.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import { basics } from "@cv";
import Award from "@/components/sections/Award.astro";
import Volunteer from "@/components/sections/Volunteer.astro";
import Reference from "@/components/sections/Reference.astro";
import Publication from "@/components/sections/Publication.astro";
import Interest from "@/components/sections/Interest.astro";
import PrintButton from "@/components/DownloadButton.astro";

const { name } = basics;
---

<Layout title=`Portfolio - ${name}`>
  <main>
    <Hero />
    <About />
    <Experience />
    <Projects />
    <Education />
    <Languages />
    <Award />
    <Certificate />
    <Skills />
    <Reference />
    <Volunteer />
    <Publication />
    <Interest />
  </main>
  <PrintButton />
  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (max-width: 719px) {
    main {
      padding: 2rem;
    }
  }

  @media print {
    main {
      padding: 2rem 4rem 0;
    }
  }
</style>
