<div class="printButton">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="30"
    height="30"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="1.8"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="icon icon-tabler icons-tabler-outline icon-tabler-download"
    ><path
      stroke="none"
      d="M0 0h24v24H0z"
      fill="none"
    ></path><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path><path
      d="M7 11l5 5l5 -5"></path><path d="M12 4l0 12"></path></svg
  >
</div>

<style>
  .printButton {
    padding: 0;
    margin: 0;
    position: fixed;
    right: 1.5rem;
    bottom: 2.5rem;
    border: 1px solid #eee;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #777;
    transition: all 0.5s ease;
  }

  .printButton:hover {
    cursor: pointer;
    background-color: #f6f6f6;
  }

  @media (max-width: 780px) {
    .printButton {
      bottom: 1.5rem;
    }
  }

  @media print {
    .printButton {
      display: none;
    }
  }
</style>

<script>
  document.querySelectorAll(".printButton").forEach(function (element) {
    element.addEventListener("click", function () {
      window.print();
    });
  });
</script>
