---
const { title } = Astro.props;
---

<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    max-width: 850px;
    margin: 0 auto 58px;

    /* Hacer que se haga un salto de linea entre cada sectionel imprimir la pagina */
    break-inside: avoid;
  }

  h2 {
    margin-bottom: 1rem;
  }

  @media print {
    section {
      margin-bottom: 2.5rem;
    }
    section > h2 {
      margin-bottom: 0.5rem;
    }
  }
</style>
