---
import { TITLES_ICONS } from "@/records.astro";
import { validateTitle } from "@/services/validateTitles"; // Asegúrate de importar la función adecuada

const { title } = Astro.props;

// Validamos el título antes de obtener el icono
const iconName = validateTitle(title);
let IconFinal;
const Icon =
  TITLES_ICONS[iconName] !== undefined
    ? (IconFinal = TITLES_ICONS[iconName])
    : (IconFinal = TITLES_ICONS["GenericTitle"]);
---

<section class="section">
  {
    title && (
      <div id="container__title">
        {IconFinal && <Icon />}
        <h2 class="section__title">{title}</h2>
      </div>
    )
  }
  <slot />
</section>

<style>
  .section {
    max-width: 850px;
    margin: 0 auto 75px;

    /* Apartado de las animaciones */
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 15%;

    /* Hacer que se haga un salto de linea entre cada sectionel imprimir la pagina */
    break-inside: avoid;
  }

  #container__title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.3rem;
    margin-bottom: 1rem;
    color: var(--colorTitle);
  }

  /* Apartado de animaciones del scroll */

  @keyframes reveal {
    from {
      opacity: 0;
      transform: scale(0.98);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @media print {
    .section {
      margin-bottom: 2.5rem;
      animation: none;
    }
    .section > .section__title {
      margin-bottom: 0.5rem;
    }
  }
</style>
